<div class="item">
    <div>URL Avatar</div>
    <div><input type="url" name="avatar_url" placeholder="https://" value="{{student.avatar_url}}"></div>
</div>

<div class="item">
    <div>Student</div>
    <div><input type="text" name="name" placeholder="Name of Student" value="{{student.name}}"></div>
</div>

<div class="item">
    <div>Birth date</div>
    <div><input type="date" name="birth" value="{{student.birth}}"></div>
</div>

<div class="item">
    <div>Scholar Year</div>
    <select name="scholaryear" id="scholaryear">
        <option value="5-ES" {% if student.scholaryear == "5-ES" %} selected="selected" {% endif %}>
            5º Elementary School
        </option>

        <option value="6-ES" {% if student.scholaryear == "6-ES" %} selected="selected" {% endif %}>
            6º Elementary School
        </option>

        <option value="7-ES" {% if student.scholaryear == "7-ES" %} selected="selected" {% endif %}>
            7º Elementary School
        </option>

        <option value="8-ES" {% if student.scholaryear == "8-ES" %} selected="selected" {% endif %}>
            8º Elementary School
        </option>

        <option value="9-ES" {% if student.scholaryear == "9-ES" %} selected="selected" {% endif %}>
            9º Elementary School
        </option>

        <option value="1-HS" {% if student.scholaryear == "1-HS" %} selected="selected" {% endif %}>
            1º High School
        </option>

        <option value="2-HS" {% if student.scholaryear == "2-HS" %} selected="selected" {% endif %}>
            2º High School
        </option>

        <option value="3-HS" {% if student.scholaryear == "3-HS" %} selected="selected" {% endif %}>
            3º High School
        </option>

    </select>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="email" placeholder="Your email here" value="{{student.email}}"></div>
</div>

<div class="item">
    <div>Workload</div>
    <div>
        <input type="number" value="{{student.workload}}" placeholder="Your workload"></div>
</div>

<button type="submit">Save</button>