{% extends "layout.njk" %}

{% block content %}
    <div class="card">

        <section class="avatar" style="background: url({{student.avatar_url}})"></section>
        <section class="details">
            <h3>Teachear</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>{{student.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{student.age}}</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>
                    {{student.atuationArea}}
                </div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{student.classType}}</div>
            </div>

            <div class="item">
                <div>Matérias</div>
                {% for area in student.atuationArea %}
                    <span>{{area}}</span>
                {% endfor %}
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{student.created_at}}</div>
            </div>
            <a href="/students/{{student.id}}/edit" class="button">Editar</a>
        </section>
    </div>

{% endblock content %}