{% extends "layout.njk" %}

{% block content %}
    <div class="card">

        <section class="avatar" style="background: url({{student.avatar_url}})"></section>
        <section class="details">
            <h3>Teachear</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>{{student.name}}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{student.age}}</div>
            </div>

            <div class="item">
                <div>BirthDay</div>
                <div>
                    {{student.birthday}}
                </div>
            </div>

            <div class="item">
                <div>School Year</div>
                <div>{{student.scholarYear}}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{student.email}} </div>
            </div>

            <div class="item">
                <div>Workload</div>
                <div>{{student.workload}}</div>
            </div>
            <a href="/students/{{student.id}}/edit" class="button">Editar</a>
        </section>
    </div>

{% endblock content %}