{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
       
        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Attendance</th>
                    <th>Action</th>

                </tr>
            </thead>
            <a href="/teachers/create">New</a>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}</td>
                        <td>
                            <div>
                                {%set attendance = student.atuationArea.split(',')%}
                                {% for a in attendance %}
                                    <span>
                                        {{a}}
                                    </span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <a href="/students/{{student.id}}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}