{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        {# <section class="avatar"></section>
        <section class="details">
            <h3>Teachears</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>Tatiana Cristina Franco</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>36 anos</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Superior Completo</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Matérias</div>
                <span>Artes Plásticas</span>
                <span>Pedagogia</span>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2019</div>
            </div>

        </section> #}

        <table width="100%">
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Attendance</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}</td>
                        <td>
                            <div>
                                {%set attendance = teacher.atuationArea.split(',')%}
                                {% for a in attendance %}
                                    <span>
                                        {{a}}
                                    </span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <a href="/teachers/{{teacher.id}}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}