{% extends "layout.njk" %}

{% block content %}
    <div class="card">

        <section class="avatar"></section>
        <section class="details">
            <h3>Teachears</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>Tatiana Cristina Franco</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>36 anos</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Superior Completo</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Matérias</div>
                <span>Artes Plásticas</span>
                <span>Pedagogia</span>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2019</div>
            </div>

        </section>

    </div>

{% endblock content %}